/* -----------------------------Main----------------------- */

/* --------Start of Hero Section------------ */

/* ----------- */

#hero {
  height: 60rem;
  background-image: url(Images/posters/pioneers\ hero\ backgrond.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 0 10rem 0 0;
  align-content: center;
}

/* ----------- */

#hero-content {
  /* width: 64rem; */
  width: 70%;
  height: 70%;
  background-color: #76bea7cc;
  box-shadow: 0.2rem 0.2rem 0.5rem #09242f;
  border-radius: 2.5rem;
  text-align: center;
  align-items: center;
  margin: 4rem;
  padding: 3.5rem 0;
  margin: 0 auto;
}

#hero-content h1 {
  color: #09242f;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0;
}

/* ----------- */

#hero-logo-box {
  height: 14rem;
  width: 100%;
  margin: auto;
}

#hero-logo {
  width: 13rem;
}

/* ----------- */

#hero-button {
  display: block;
  text-decoration: none;
  width: 8rem;
  padding: 1rem;
  margin: auto;
  background-color: #09242f;
  border-radius: 2rem;
  box-shadow: 0.07rem 0.07rem 0.4rem #0bce90;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #76bea7;
}

#hero-button:hover {
  background-color: #69a4a9;
  color: whitesmoke;
  padding: 1.2rem;
  box-shadow: 0.05rem 0.05rem 0.2rem #0bce90;
}

/* ----------- */

#hero-content p {
  color: #e5f7f1;
  font-size: 2rem;
  font-weight: 600;
}

/* ----------- */

#hero-social {
  width: 20rem;
  height: 5rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------- */

.hero-social-link {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 4rem;
  background-color: #09242f;
  align-content: center;
}

.hero-social-icon {
  width: 2rem;
  margin-top: 0.35rem;
}

.hero-social-link:hover {
  background-color: #0bce90;
}

/* ----------- */

/* --------End of Hero Section------------ */

/* --------Start of Product Section------------ */

#products {
  width: 100%;
  margin: 10rem 0;
  align-content: center;
  padding: 3.5rem 0;
}

/* ----------- */

#products h1 {
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #09242f;
}

/* ----------- */

#products-card-box {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ----------- */
.card {
  width: 20rem;
  height: 45rem;
  margin: 1.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(118, 190, 167, 0.5);
  box-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0, 0.2);
  border-radius: 2.5rem;
}
/* ----------- */

.products-card-icon {
  width: 10rem;
  margin: 1.5rem auto;
}

.products-card-icon img {
  width: 9rem;
  border-radius: 9rem;
}
/* ----------- */

.products-card-content {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.products-card-content h2 {
  height: 2rem;
  text-align: center;
}

.products-card-content p {
  height: 12rem;
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #09242f;
}

.products-card-content ul {
  list-style: lower-greek;
}

.products-card-content ul {
  width: 15rem;

  align-items: left;
}
.products-card-content strong {
  text-align: left;
  text-transform: uppercase;
}

/* ----------- */

.products-card-cta {
  width: 10rem;
  height: 4rem;
  box-sizing: border-box;
  align-content: center;
}

.products-card-cta a {
  text-decoration: none;
  align-items: center;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 2rem;
  background-color: #09242f;
  color: #76bea7;
  box-shadow: 0.05rem 0.05rem 0.2rem #0bce90;
  
}

.products-card-cta a:hover {
  background-color: #69a4a9;
  color: whitesmoke;
  padding: 1.2rem;
  box-shadow: 0.05rem 0.05rem 0.2rem #0bce90;
  
}

/* ----------- */

/* --------End of Product Section------------ */

/* --------Start of Services Section------------ */

#Services {
  width: 100%;
  margin: 10rem 0;
  align-content: center;
  padding: 3.5rem 0;
  background-color: #09242f;
}

/* ----------- */

#Services-head {
  width: 90%;
  margin: auto;
  padding: 2.5rem 0;
}

/* ----------- */

#Services-head h1 {
  width: 100%;
  font-size: 3.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: whitesmoke;
  text-align: center;
}

#Services-head p {
  width: 100%;
  font-size: 2rem;
  font-weight: 200;
  color: #69a4a9;
  text-align: center;
}

/* ----------- */

#Services ul {
  width: 90%;
  margin: 0 auto 3rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

#Services li {
  display: flex;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  overflow: hidden;
}

/* ----------- */

#Services li img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

/* ----------- */

.Services-items {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ----------- */

.Services-items h2 {
  margin: 0;
}

/* ----------- */

.Services-actions {
  text-align: right;
}
.Services-actions a {
  text-decoration: none;
  padding: 0.6rem;
  color: #76bea7;
  border-radius: 2rem;
}

.Services-actions a:hover {
  background-color: #09242f96;
 
}

/* ----------- */

/* --------End of Services Section------------ */

/* --------Start of Feature Section------------ */

#feature {
  width: 100%;
  margin: 10rem 0;
  align-content: center;
  padding: 3.5rem 0;
  background-color: #09242f0a;
}

/* ----------- */

#feature-head {
  width: 90%;
  margin: auto;
  padding: 2.5rem 0;
}

/* ----------- */

#feature-head h1 {
  width: 100%;
  font-size: 3.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #09242f;
  text-align: center;
}

#feature-head p {
  width: 100%;
  font-size: 2rem;
  font-weight: 200;
  color: #69a4a9;
  text-align: center;
}

/* ----------- */

#feature-box {
  width: 80%;
  margin: auto;
}

/* ----------- */

.feature-row-box {
  display: flex;
  justify-content: space-evenly;
}

/* ----------- */

.feature-row-image {
  width: 30rem;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

.feature-row-image img {
  width: 15rem;
}

/* ----------- */

.separate {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.separate .separate-index {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.separate strong {
  color: white;
}

.separate .separate-line {
  width: 0.2rem;
  height: 80%;
  box-sizing: border-box;
  border-right: 0.2rem solid;
}

/* ----------- */

.feature-row-content {
  width: 30rem;
  margin: 1.5rem;
  padding: 1rem;
}

.feature-row-content h2 {
  font-weight: unset;
  color: gray;
}

.feature-row-content h2 strong {
  color: #09242f;
}

.feature-row-content-line {
  width: 80%;
  height: 0.1rem;
  margin: auto;
  border-top: 0.1rem solid #69a4a9;
}

/* ----------- */

#feature-row1 .feature-row-image {
  background-color: #09242f;
}

#feature-row2 .feature-row-image {
  background-color: #76bea7;
}

#feature-row3 .feature-row-image {
  background-color: #69a4a9;
}

#feature-row4 .feature-row-image {
  background-color: #83c4ca;
}

#feature-row5 .feature-row-image {
  background-color: #a5dde2f3;
}

/* ----------- */

#feature-row1 .separate-index {
  background-color: #09242f;
}

#feature-row2 .separate-index {
  background-color: #76bea7;
}

#feature-row3 .separate-index {
  background-color: #69a4a9;
}

#feature-row4 .separate-index {
  background-color: #83c4ca;
}

#feature-row5 .separate-index {
  background-color: #a5dde2f3;
}

/* ----------- */

#feature-row1 .separate-line {
  border-right: 0.2rem solid #09242f;
}

#feature-row2 .separate-line {
  border-right: 0.2rem solid #76bea7;
}

#feature-row3 .separate-line {
  border-right: 0.2rem solid #69a4a9;
}

#feature-row4 .separate-line {
  border-right: 0.2rem solid #83c4ca;
}

#feature-row5 .separate-line {
  border-right: 0.2rem solid #a5dde2f3;
}

/* --------End of Feature Section------------ */

/* --------Start of case Section------------ */

#case {
  width: 100%;
  margin: 10rem 0;
  padding: 3.5rem 0;
}

/* ----------- */

#case-head {
  width: 90%;
  margin: auto;
  padding: 2.5rem 0;
}

#case-head h1 {
  width: 100%;
  font-size: 3.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #09242f;
  text-align: center;
}

#case-head p {
  width: 100%;
  font-size: 2rem;
  font-weight: 200;
  color: #76bea7;
  text-align: center;
}

/* ----------- */

#cases-box {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.1rem;
  justify-items: center;
  justify-content: space-around;
}

/* ----------- */

.case-card {
  padding: 3rem;
  margin: 3rem;
  background-color: #76bea7;
  border-radius: 3rem;
  box-shadow: 0 4rem 10rem rgba(0, 0, 0, 0.1);
  max-width: 30rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.case-card:hover {
  transform: translateY(-2rem);
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
}

.album-imgs img,
.case-vid video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  transform: translate(-50%, -50%);
}

.case-card h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #09242f;
  text-align: center;
}

.case-card p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #555;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 3rem;
}

.slider-wrapper {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slider,
.case-vid {
  position: relative;
  width: 100%;
  padding-top: 75%;
  overflow: hidden;
  border-radius: 3rem;
  background-color: #000;
}

.album-imgs {
  flex: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Responsive Image Size */
#case img {
  width: 100%;
  max-width: 15rem;
  height: auto;
}

/* --------End of case Section------------ */

/* --------Start of CTA Section------------ */

#CTA {
  width: 100%;
  margin: 10rem 0;
  align-content: center;
  padding: 3.5rem 0;
}

/* ----------- */

#CTA-contianer {
  width: 85%;
  height: 90%;
  padding: 3rem;
  margin: auto;
  background-color: #09242f;
  box-shadow: 0.3rem 0.3rem 1rem #76bea7;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* ----------- */

#CTA-content h2 {
  font-size: 2.5rem;
  color: whitesmoke;
  margin: 0;
}

#CTA-content p {
  font-size: 1.5rem;
  font-weight: 900;
  color: #69a4a9;
  margin: 0;
}

#CTA-content h1 {
  font-size: 3.5rem;
  font-style: italic;
  color: #76bea7;
}

/* ----------- */

#CTA-button a {
  text-decoration: none;
  width: 8rem;
  padding: 1rem;
  background-color: #76bea7;
  border-radius: 2rem;
  box-shadow: 0.05rem 0.05rem 0.2rem #0bce90;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #09242f;
}

#CTA-button a:hover {
  background-color: #69a4a9;
  color: whitesmoke;
  box-shadow: 0.05rem 0.05rem 0.2rem #c4eee0;
  padding: 1.2rem;
}

/* --------End of CTA Section------------ */

/* --------Start of insights Section------------ */

#insights {
  width: 100%;
  margin: 10rem 0;
  align-content: center;
  text-align: center;
  text-transform: uppercase;
}

/* ----------- */

#insights p {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  color: #69a4a9;
}

#insights h1 {
  margin: 1.5rem 0;
  font-size: 3.5rem;
  color: #09242f;
}

/* ----------- */

#insights-card {
  width: 80%;
  margin: 3.5rem auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#insights-part1 {
  display: flex;
  background-color: #69a4a915;
  padding: 1.5rem;
  border-radius: 3%;
  flex-wrap: wrap;
}
#insights-part2 {
  display: flex;
  background-color: #09242f17;
  padding: 1.5rem;
  border-radius: 2%;
}

/* ----------- */

.insights-card {
  width: 12rem;
  margin: 0 1.5rem;
}

/* ----------- */

.insights-card img {
  width: 6rem;
  border: 0.5rem solid #76bea749;
  border-radius: 100%;
}

/* ----------- */

.insights-card h3 {
  width: 100%;
  height: 10rem;
  font-size: 50px;
  color: #76bea7;
  background-color: #76bea734;
  box-shadow: 0.5rem 0.5rem 1rem #69a4a9;
  border-radius: 1rem;
  align-content: center;
}

#insight2 h3 {
  background-color: #09242f23;
}

/* ----------- */

.insights-card strong {
  text-align: center;
  font-size: 1.5rem;
  color: #09242f7a;
  font-weight: bolder;
}

/* --------End of insights Section------------ */

/* --------Start of relation Section------------ */

#relation {
  width: 100%;
  margin: 10rem 0;
  align-content: center;
  background-color: #69a4a915;
  padding: 3.5rem 0;
}

/* ----------- */

#relation h1 {
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #09242f;
}

#relation p {
  text-align: center;
  font-size: 1.5rem;
  /* text-transform: uppercase; */
  color: #09242f;
}

/* ---------- */

#relation ul {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

/* ---------------- */

.partener-contianer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* ------------------ */

.partener-contianer a {
  width: 80%;
  align-items: space-around;
}

.partener-contianer-img {
  width: 80%;
  align-items: space-around;
}

.partener-contianer img {
  width: 100%;
}

/* -------------------- */

.partener-contianer-content h4 {
  font-size: 1.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
  color: #09242f;
  margin: 0;
}

/* --------End of relation Section------------ */

/* -----------------------------Main----------------------- */
