@font-face {
  font-family: "poh-e-font";
  src: url("fonts/Hacen-Maghreb.ttf") format("truetype");
}

@font-face {
  font-family: "poh-a-font";
  src: url("fonts/Ara\ Hamah\ AlFidaa.ttf") format("truetype");
}

/* ------------------------------------------------------------------------- */

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "poh-e-font", sans-serif;
}

main{
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------------------------- */

/* -----------------------------Header----------------------- */

/* --------Start of note bar------------ */

#note-bar {
  width: 100%;
  background-color: #09242f;
}

#note-bar h5 {
  width: 100%;
  margin: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #76bea7;
}

/* --------End of note bar------------ */

/* --------Start of Header------------ */

#page-logo a {
  padding: 10px;
  font-family: "oleo Script", sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #0eab79;
}

#page-logo a:hover {
  text-shadow: 2px 2px 4px #0eab79;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  /* margin-bottom: 50px; */
  flex-wrap: wrap;
  background-color: #76bea7;
}

header ul {
  display: flex;
  justify-content: right;
}

header li {
  margin-left: 20px;
}

nav a {
  color: #09242f;
  text-decoration: none;
  font-size: 24px;
  font-weight: bolder;
  padding: 12px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
}

nav a:hover {
  background-color: #69a4a9;
  color: white;
  border-radius: 6px;
}

/* --------End of Header------------ */

/* ----------------------------------------------------------------------------- */


/* --------Start of footer------------ */
footer {
  /* background: rgba(38, 55, 69, 0.4); */
  background-color: #09242f;

  border-top: 3px solid #24b7a4;
  border-bottom: 3px solid #24b7a4;
  padding: 30px 0;
}

/*  */
.title {
  text-align: center;
  margin-top: -2%;
}

.title h2 {
  font-size: 32px;
  color: #0eab79;
  font-weight: bold;
  text-transform: uppercase;
}
/*  */

.info {
  padding-top: 30px;
  width: 100%;
}

.info h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}

.info p {
  margin-bottom: 20px;
  font-size: 14px;
}

.info a:hover {
  background: #24b7a4;
  color: #fff;
}

.data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding-bottom: 32px;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
}
.email {
  display: flex;
  justify-content: center;
  align-items: center;
}
.address {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-icon {
  width: 50px;
  height: 50px;
  padding-right: 20px;
  align-items: center;
}
.data-icon a {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  float: left;
}

.data-icon img {
  width: 100%;
  height: 100%;
}

/*  */
.border {
  height: 5px;
  width: 30%;
  margin: auto;
  border-bottom: 3px solid #24b7a4;
}
/*  */

.social {
  margin-top: 32px;
  margin-bottom: 32px;
}
.social ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social li {
  width: 80px;
  height: 80px;
}
.social a {
  width: 100%;
  height: 100%;
  float: left;
  border-radius: 80px;
}

.social img {
  width: 100%;
  height: 100%;
}

/* ============================================================================= */

.copyright {
  text-align: center;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* --------End of footer------------ */
