@font-face {
  font-family: "poh-e-font";
  src: url("fonts/Hacen-Maghreb.ttf") format("truetype");
}

@font-face {
  font-family: "poh-a-font";
  src: url("fonts/Ara\ Hamah\ AlFidaa.ttf") format("truetype");
}

/* ------------------------------------------------------------------------- */

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------------------------- */

/* -----------------------------Header----------------------- */

/* --------Start of note bar------------ */

#note-bar {
  width: 100%;
  background-color: #09242f;
}

#note-bar h5 {
  width: 100%;
  margin: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #76bea7;
}

/* --------End of note bar------------ */

/* --------Start of Header------------ */

#page-logo a {
  padding: 10px;
  font-family: "oleo Script", sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #0eab79;
}

#page-logo a:hover {
  text-shadow: 2px 2px 4px #0eab79;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  /* margin-bottom: 50px; */
  flex-wrap: wrap;
  background-color: #76bea7;
}

header ul {
  display: flex;
  justify-content: right;
}

header li {
  margin-left: 20px;
}

nav a {
  color: #09242f;
  text-decoration: none;
  font-size: 24px;
  font-weight: bolder;
  padding: 12px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
}

nav a:hover {
  background-color: #69a4a9;
  color: white;
  border-radius: 6px;
}

/* --------End of Header------------ */

/* ----------------------------------------------------------------------------- */


