@font-face {
  font-family: "poh-e-font";
  src: url("fonts/Hacen-Maghreb.ttf") format("truetype");
}

@font-face {
  font-family: "poh-a-font";
  src: url("fonts/Ara\ Hamah\ AlFidaa.ttf") format("truetype");
}

/* ------------------------------------------------------------------------- */

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "poh-e-font", sans-serif;
}

main {
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------------------------- */

/* -----------------------------Header----------------------- */

/* --------Start of note bar------------ */

#note-bar {
  width: 100%;
  background-color: #09242f;
}

#note-bar h5 {
  width: 100%;
  margin: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #76bea7;
}

/* --------End of note bar------------ */

/* --------Start of Header------------ */

#page-logo a {
  padding: 10px;
  font-family: "oleo Script", sans-serif;
  color: white;
  font-size: 40px;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #0eab79;
}

#page-logo a:hover {
  text-shadow: 2px 2px 4px #0eab79;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  /* margin-bottom: 50px; */
  flex-wrap: wrap;
  background-color: #76bea7;
}

header ul {
  display: flex;
  justify-content: right;
}

header li {
  margin-left: 20px;
}

nav a {
  color: #09242f;
  text-decoration: none;
  font-size: 24px;
  font-weight: bolder;
  padding: 12px;
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
}

nav a:hover {
  background-color: #69a4a9;
  color: white;
  border-radius: 6px;
}

/* --------End of Header------------ */

/* ----------------------------------------------------------------------------- */

/* --------Start of footer------------ */
/* --------Start of Contact Section------------ */

/* ----------- */

#Contact {
  width: 100%;
  /* margin: 10rem 0; */
  align-content: center;
  padding: 3.5rem 0;
  background-color: #76bea7;
}

#Contact h1 {
  width: 100%;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 900;
  color: #76bea7;
  background-color: #09242f;
  box-shadow: 1rem 1rem 2rem #69a4a9;
  text-align: center;
  text-transform: uppercase;
}

/* ----------- */

#contact-part {
  width: 95%;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #76bea7;
  /* box-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0, 0.2);
  border-radius: 2.5rem; */
}

.contact-card {
  width: 42rem;
  padding: 1.5rem;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #76bea7;
  box-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0, 0.2);
  border-radius: 2.5rem;
  overflow: visible;
}

.contact-card-icon {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  border-radius: 5rem;
  background-color: #09242f;
  align-content: center;
}

.contact-card-icon:hover {
  background-color: #0bce90;
  padding: 0.2rem;
  box-shadow: 0.5rem 0.5rem 1rem rgb(0, 0, 0, 0.2);
}

.contact-card-icon img {
  display: block;
  width: 3rem;
  margin: auto;
}

.contact-card h2 {
  font-size: xx-large;
  text-transform: uppercase;
  color: #09242f;
}

.contact-card-text {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5rem;
  text-decoration: none;
  background-color: #09242f;
  align-content: center;
}

.contact-card-text:hover {
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.contact-card p {
  font-size: 1.3rem;
  font-weight: 900;
  color: #76bea7;
  margin: 0;
}

.contact-card-text p:hover {
  color: #0bce90;
  margin: 0.1rem;
}

/* ----------- */

#footer-social {
  width: 20rem;
  height: 5rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------- */

.footer-social-link {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  border-radius: 4rem;
  background-color: #09242f;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.footer-social-icon {
  width: 2rem;
  margin-top: 0.35rem;
}

.footer-social-link:hover {
  background-color: #0bce90;
}

/* ----------- */

/* ============================================================================= */

.copyright {
  text-align: center;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* --------End of footer------------ */
